body {
  margin: 0;
  padding: 0;
  background-color:#dda703 ;
  background-size: cover;
  background-position: center;

}



.loginbox {
   width: 420px;
   height: 440px;
   background:  #754C00;
   color: #fff;
   top: 30%;
   left: 35%;
   position: absolute;
   transform: translate(-50%,-50);
   padding: 70px 30px;
   opacity: 90%;
   border-radius: 5px;
}
.Account {
  width: 120px;
  height:120px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
  font-size: 17px;
 }

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
   font-family: 'Gluten', cursive;
   color: white;
}

.loginbox p{
   margin: 0;
   padding: 0;
   font-weight: bold;
}
.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{

border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 13px;
}
.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
background: #cc8502;
color: #fff;
font-size: 18px;
font-family: 'Gluten', cursive;
   color: white;
border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
cursor: pointer;
background: #ffc107;
color: #000;
}
.loginbox a{
text-decoration: none;
font-size:12px;
line-height: 20px;
color: darkgrey;
}
.error .p body{
    background: #754C00;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 2px auto;   
    font-family: : sans-serif;
}

.loginbox a:hover
{
 color: #FFB52E;
}
